*{
    padding: 0px;
    margin: 0px;
}





.main{
background-color: black;
height: 60px;
}
.text{
    color: white;


}
.imgspeaker{
    margin: 0px;
    padding: 0px;
    width: 2000px;
}
 

.square1
{
    width:500px

}
