.boss{
background-color: black;
}
.but1{
    margin-left: 15%;
        font-size: 20px;
    color: aqua;
    background-color: black;
    border: none;
    border-width:5px;
    padding: 20px;
    
}
.but1:hover{
    margin-left: 15%;
        font-size: 20px;
    color: aqua;
    background-color: black;
    border: none;
    border-width:5px;
    padding: 20px;
    
}
.but{
    margin-left: 2%;
        font-size: 20px;
    color: aqua;
    background-color: black;
    border: none;
    border-radius: 10%;
    padding: 20px;
    
    
}
.but:hover{
    margin-left: 2%;
        font-size: 20px;
    color: aqua;
    background-color: rgb(155, 133, 133);
    border: none;
     border-radius: 10%;
     padding: 20px;
     
     
}
.reuth{
    margin-left: 3%;
    margin-top: 0.5%;
    font-size: 45px;
    color: aqua;
    background-color: black;
    border: none;
    
}
.top{
    background-color: black;
    border-color: grey;
}
.slider {
  width: 100%;
  
  height: 500px;
  
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.slides {
  display: flex;
  width: 400%;
  animation: slide 16s infinite;
}

.slides img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

@keyframes slide {
  0% { margin-left: 0%; }
  20% { margin-left: 0%; }
  25% { margin-left: -100%; }
  45% { margin-left: -100%; }
  50% { margin-left: -200%; }
  70% { margin-left: -200%; }
  75% { margin-left: -300%; }
  95% { margin-left: -300%; }
  100% { margin-left: 0%; }
}
.home{
    background-color: black;
    width: 100%;
    
    

}
.textbox {
  width: 300px;
  padding: 10px 15px;
  font-size: 16px;
  
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s;
  background-color: rgb(255, 255, 255);
  height: 20px;
}
.para{
    margin-left: 35%;
    color: aqua;
    font-size: 50px;
}
.para1{
    margin-left: 40%;
    color: aqua;
    font-size: 50px;
}
.name{
margin-left: 10%;
color: aqua;
background-color: black;
border: none;
font-size: 20px;

}
.phone{
margin-left: 7%;
color: aqua;
background-color: black;
border: none;
font-size: 20px;
}
.email{
margin-left: 7%;
color: aqua;
background-color: black;
border: none;
font-size: 20px;
}
.schedule{
    
}